/*ZX- Shared Font Styles */
.open-sans-nomarl {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*🚩 ZX - Shared Style 🚩*/

* {
  padding: 0px;
  margin: 0px;
}

/* .secondary-bg {
  background-color: #fff8f3;
} */

.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.botom-1 /* this botom class will be used in top nav and bottom footer */ {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  width: 150px;
  height: 64px;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  background-color: #fd6e0a;
}

.botom-2 /*this botom class will be used banner and mid section*/ {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;

  width: 200px;
  height: 64px;
  padding: 19px 17px 18px 17px;
  border-radius: 5px;
  border: none;
  background-color: #fd6e0a;
  margin-right: 30px;
}

.botom-3 /* this botom class will be useing for banner content */ {
  font-size: 20px;
  font-weight: bold;
  color: #fd6e0a;

  width: 160px;
  height: 64px;
  border-radius: 5px;
  border: #fd6e0a solid 1px;
  background-color: #fff8f3;
  padding: 19px 24px;
}

.section-titel {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 30px;
}
.section-description {
  font-size: 18;
  font-weight: 400;
  color: #757575;
  padding-bottom: 30px;
}
.text-align-center
{
    text-align: center;
}

/*🚩 End of ZX - Shared Style 🚩*/
/*____________________________________ */

/* AX-01 nav styles */
/*This is header tag class head*/
.head {
  background-image: url(/portfolio-resources/images/developer.png),
    url(/portfolio-resources/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  background-color: #fff8f3;
  /* max-width: 1600px;
  max-height: 840px; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 225px;
}

.nav-titel {
  font-size: 45px;
  font-weight: bolder;
  padding-left: 40px;
}

nav ul {
  display: flex;
  justify-content: center; /*jonker bahi did not add this line it was me who added this line*/
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
  /* color: #474747; */
}

/* 🟥 Banner part Styling 🟥*/

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
  max-height: 356px;
  margin: 60px 30px;
}

.banner-greatings {
  font-size: 45px;
  font-weight: 600;
}

.banner-titel {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 20px;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
}

.profile-pic {
  width: 584px;
  height: 676px;
  padding-right: 50px;
}

/*-------------------------------*/

/* 🟩 Main Tag CSS Coding Statrts From Here 🟩 */
main {
  max-width: 1140px;
  max-height: 550px;
  margin: 0 auto;
  background-color: #fff8f3;
  margin: 130px 230px;
  border-radius: 10px;
}
.about {

  padding: 130px 150px;
  text-align: center;
  margin-top: 130px 150px;
}

.section-description
{
    font-size: 18px;
    font-weight: 400;
    color:#757575;
    line-height: 30px;
}

.about-items
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 20px 20px 20px 20px;
    text-align: center;
}

.item-titel
{
    font-size: 20;
    font-weight: lighter;
}

.item-description{
    font-size: 20px;
    font-weight: bold;
}

/* My Skills Part Coding Start in here */

.skill
{
    text-align: center;
    padding: 130px
}

.section-titel-1
{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
    padding-bottom: 30px;
}

.section-description-1
{
    font-size: 18;
    font-weight: 400;
    color:#757575;
    line-height: 30px;
    text-align: center;
    padding-bottom: 50px;
}

/*card desigin seection*/
